* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.info,
.insan {
  padding: 20px;
}

.consul,
.obyekt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.consul img,
.obyekt img {
  border-radius: 10px;
  border: 5px solid rgb(156, 23, 23);
}
